.input-container{
    margin-right: 40px;
    width : 250px;
    display: flex;
    justify-content: space-between;
   
}
.header{
    display: flex;
    justify-content: space-between;
}
.body{
display: grid;
width: 1000px;
}
.footer-div{
    display: flex;
    justify-content: space-between;
}