.bodyreg .input-container{
    margin-right: 40px;
    width : 250px;
    display: flex;
    justify-content: space-between;
   
}
.bodyreg .header{
    display: flex;
    justify-content: space-between;
}
.bodyreg{
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 11px 32px 4px rgba(0,0,0,0.22);
    display: grid;
    
    width: 580px;

}
.bodyreg .footer-div{
    display: flex;
    justify-content: space-between;
}
